@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  padding: 165px 165px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  background: #fff;

  @include fourteenInch {
    gap: 64px;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }

  h2 {
    color: #0c1021;
    text-align: center;
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;

    @include fourteenInch {
      font-size: 72px;
    }

    @include tablet {
      font-size: 48px;
    }

    @include mobileSmall {
      font-size: 32px;
    }

    span {
      color: #4268ff;
    }
  }

  p {
    color: #50556b;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @include mobile {
    padding: 64px 16px;
    gap: 64px;
  }
}

.slider {
  width: 100%;

  :global(.swiper) {
    width: 100%;
    height: 100%;
  }

  :global(.swiper-slide) {
    display: flex;
    justify-content: center;
  }

  img {
    width: 100%;
    border-radius: 48px;
    height: auto;
    @include tablet {
      width: 100%;
      height: 500px;
      object-fit: cover;
      object-position: top left;
    }
  }
}

.pagination {
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  background: rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(5px);
  gap: 6px;
  position: relative;
  z-index: 10;
  width: fit-content;
  margin: -40px auto 0 auto;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(66, 104, 255, 0.1);
  border: none;
  padding: 0;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.dotActive {
  background-color: #4268ff;
  transform: scale(1.2);
}
