@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  padding: 0 165px 165px;

  @include fourteenInch {
    padding: 0 64px 132px;
  }

  @include mobile {
    padding: 0 16px 32px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  text-align: center;

  span {
    display: inline-flex;
    padding: 8px 12px;
    margin-bottom: 14px;
    border-radius: 24px;
    background: rgba(66, 104, 255, 0.1);
    color: #4268ff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  h2 {
    color: #0c1021;
    font-size: 42px;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      font-size: 32px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;

  @include tablet {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 403px;
  padding: 32px;
  border-radius: 48px;
  border: 1px solid rgba(12, 16, 33, 0.05);
  background: #fff;

  @include mobile {
    min-height: auto;
    padding: 32px;
    border-radius: 32px;
  }

  h3 {
    color: #0c1021;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      font-size: 24px;
    }
  }

  p {
    color: #535662;
    font-size: 18px;
    line-height: normal;
  }
}

.number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background: #4268ff;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
}
