@use '@/shared/lib/styles/mixin.scss' as *;

.card {
  position: relative;
  z-index: 1;
  flex: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 48px;
  border: 1px solid rgba(12, 16, 33, 0.05);
  //background: #fff;
  padding: 0 16px 0 16px;
  @include mobile {
    padding: 0 16px 64px 16px;
  }

  h2 {
    color: #0c1021;
    text-align: center;
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
    span {
      color: #4268ff;
    }

    @include fourteenInch {
      font-size: 64px;
    }

    @include mobile {
      font-size: 48px;
    }

    @include mobileSmall {
      font-size: 32px;
    }
  }

  &__videoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: -72px;
    button {
      position: absolute;
      width: fit-content;
      /*width: 48px;
      height: 48px;
      padding: 0;
      background: transparent !important;
      svg {
        width: 48px;
        height: auto;
        path {
          fill: #4268ff;
        }
      }*/
    }
  }

  &__video {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 550px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 24px;
    @include fourteenInch {
      max-width: 500px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;

    h3 {
      color: #0c1021;
      font-size: 24px;
      font-weight: 400;
      line-height: normal;
    }

    p {
      color: #535662;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__contentContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  &__audio {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__timeline {
    width: 100%;
    height: 5px;
    background: #f3f3f3;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 470px;
    margin: 0 auto;
    @include mobileSmall {
      width: 100%;
    }
    &__progress {
      height: 100%;
      background-color: #000;
      border-radius: 2px;

      &.primary {
        background-color: #4268ff;
      }

      &.secondary {
        background-color: #a34cff;
      }

      &.success {
        background-color: #17b46b;
      }
    }
  }

  &__timelineText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 470px;
    margin: 0 auto;
    @include mobileSmall {
      width: 100%;
    }
    p {
      color: #535662;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
    }
  }
}
