@use '@/shared/lib/styles/mixin.scss' as *;

.voices {
  background: #fafafa;
  margin-top: 64px;
  padding: 165px 16px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  box-sizing: border-box;

  @include mobile {
    padding: 64px 16px;
  }

  @include fourteenInch {
    gap: 64px;
  }

  h2 {
    color: #0c1021;
    text-align: center;
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;

    @include fourteenInch {
      font-size: 64px;
    }

    @include mobile {
      font-size: 48px;
    }

    @include mobileSmall {
      font-size: 32px;
    }
  }

  &__list {
    display: flex;
    gap: 12px;
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
    @include fourteenInch {
      gap: 12px;
      max-width: 82%;
    }
    @include tablet {
      flex-direction: column;
      max-width: 100%;
    }

    &.images {
      margin-top: -44px;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #fafafa 100%);
        backdrop-filter: blur(5px);
        z-index: 1;
      }
      a {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        button {
          white-space: nowrap;
        }
      }
      > div {
        @include tablet {
          display: none;
          &:first-child {
            display: block;
          }
        }
        article {
          height: 100%;
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 8px;
          border-radius: 48px;
          border: 1px solid rgba(12, 16, 33, 0.05);
          background: #fff;
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
          img {
            height: auto;
          }
        }
      }
    }

    > div {
      width: calc(25% - 9px);
      @include tablet {
        width: 100%;
      }
      img {
        @include tablet {
          width: 100%;
        }
        @include desktop {
          width: 100%;
          height: 300px;
        }
        @include largeDesktop {
          width: 100%;
          height: 350px;
        }
        @include fourteenInch {
          width: 100%;
          height: 250px;
        }
      }
    }
  }
}
