@use '@/shared/lib/styles/mixin.scss' as *;

.section {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f6f6f6 100%);
  padding-top: 76px;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 60px;

  @include tablet {
    grid-template-columns: 1fr;
    gap: 24px;
    padding-top: 60px;
  }
}

.copy {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.titleAccent {
  color: #4268ff;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.1;

  @include tablet {
    font-size: 40px;
    line-height: 1.2;
  }
}

.titleRest {
  color: #000;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;

  @include tablet {
    font-size: 32px;
  }
}

.subtitle {
  margin: 0;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

.card {
  padding: 36px;
  background: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.40), 0 1px 1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 20px;

  @include tablet {
    padding: 16px;
    border-radius: 8px
  }
}

.cardInner {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include tablet {
    gap: 24px;
  }
}

.period {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.periodLabel {
  margin: 0;
  color: #000;
  font-size: 20px;
  line-height: 1.4;

  @include tablet {
    font-size: 14px;
  }
}

.periodRange {
  margin: 0;
  color: #000;
  font-size: 40px;
  line-height: 1.2;
  white-space: pre-wrap;

  @include tablet {
    font-size: 24px;
  }
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    margin: 0;
    color: #4d4d4d;
    font-size: 18px;
    line-height: 1.4;

    @include tablet {
      font-size: 14px;
    }
  }
}
