@use '@/shared/lib/styles/mixin.scss' as *;

.hero {
  width: 100%;
  display: flex;
  padding: 0 124px 124px 124px;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  overflow: hidden;

  @include desktop {
    padding: 0 50px 124px 50px;
    margin-top: -140px;
  }

  @media (min-height: 900px) and (max-height: 1000px) {
    margin-top: -50px;
  }

  @include largeDesktop {
    padding: 0 0 124px 124px;
    margin-top: -160px;
  }

  @include tablet {
    flex-direction: column;
    padding: 60px 0 64px 16px;
  }

  @include mobile {
    padding: 60px 0 64px 16px;
  }

  &__subtitle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #4268ff;
    text-align: center;
    font-size: 52px;
    font-weight: 400;
    line-height: normal;
    width: 60%;

    @include desktop {
      font-size: 42px;
      width: 60%;
    }

    @include tablet {
      font-size: 32px;
    }
  }

  &__video {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    @include tablet {
      width: 100%;
    }
    video {
      width: 115%;
      height: 115%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;

    @include tablet {
      width: 100%;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      color: #0c1021;
      font-size: 64px;
      font-weight: 400;
      line-height: 120%;

      @include mobile {
        font-size: 48px;
      }

      @include fourteenInch {
        font-size: 64px;
      }

      @include desktop-1300 {
        font-size: 80px;
      }
      @include largeDesktop {
        font-size: 90px;
      }
    }

    .highlighted {
      color: #4268ff;
    }

    p {
      color: #50556b;
      font-size: 24px;
      font-weight: 400;
      line-height: normal;
    }
  }
}
