@use '@/shared/lib/styles/mixin.scss' as *;

.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;


  &__content {
    position: relative;
    z-index: 1;
  }

  &__title {
    color: #0C1021;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 12px;

    @include tablet {
      font-size: 32px;
    }
  }

  &__subtitle {
    color: #50556B;
    font-size: 20px;
    line-height: 1.4;
    max-width: 800px;
  }
}
