@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  display: flex;
  padding: 64px 165px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  @include mobile {
    padding: 32px 16px;
    flex-direction: column;
    gap: 32px;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    h2 {
      color: #0c1021;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 57.6px */
      @include mobile {
        font-size: 32px;
      }
      span {
        display: block;
        color: #4268ff;
      }
    }
  }
  .faq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 900px;
    max-width: 100%;
    &__item {
      width: 100%;
      display: flex;
      padding: 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      border-radius: 32px;
      background: #fafafa;
    }
    &__question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      h3 {
        color: #0c1021;
        font-family: Urbanist;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: calc(100% - 32px);
      }
    }
    &__answer_wrapper {
      color: #535662;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
