@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  padding: 165px 124px;
  display: flex;
  flex-direction: column;
  gap: 128px;
  background: #FAFAFA;

  h2 {
    color: #0c1021;
    text-align: center;
    font-size: 128px;
    font-weight: 400;
    line-height: 120%;

    @include tablet {
      font-size: 48px;
    }

    .highlighted {
      color: #4268ff;
    }
  }

  @include mobile {
    padding: 64px 16px;
    gap: 64px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;

  @include tablet {
    gap: 16px;
    flex-direction: column;
  }

  >article{
    width: calc(33.33% - 32px);
    @include largeDesktop {
      width: calc(25% - 36px);
      &:first-child, &:nth-child(4), &:nth-child(5), &:nth-child(8){
        margin-top: 40px;
      }
    }
    @include tablet {
      width: 100%;
    }
  }

}

.cardsRow {
  display: flex;
  gap: 48px;

  @include tablet {
    flex-direction: column;
    gap: 16px;
  }
}

.card {
  //flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 48px;
  border: 1px solid rgba(12, 16, 33, 0.05);
  background: #fafafa;
  padding: 32px;



  svg {
    flex-shrink: 0;
    path{
      fill: #4268ff;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3 {
      color: #0c1021;
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;
      display: flex;
      align-items: center;
      gap: 16px;
      span{
        width: calc(100% - 64px);
      }
      @include tablet {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    p {
      color: #535662;
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
    }
  }
}

