@use '@/shared/lib/styles/mixin.scss' as *;

.solutions_deliver {
  margin-bottom: 40px;

  &__panel {
    padding: 60px;
    border-radius: 8px;
    background: #F6F6F6;
    overflow: hidden;

    @include tablet {
      padding: 24px 20px;
    }
  }

  &__title {
    color: #0c1021;
    text-align: center;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 60px;

    @include tablet {
      font-size: 32px;
      margin-bottom: 32px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @include mobile {
      display: none;
    }
  }

  &__slider {
    display: none;

    @include mobile {
      display: block;
      margin-inline: -20px;
    }
  }

  &__swiper {
    overflow: hidden;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 24px;
    padding-inline: 20px;
  }

  &__nav_prev,
  &__nav_next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }

  &__nav_prev {
    padding: 11px;
  }

  &__nav_next {
    padding: 11px 32px;
    border-radius: 999px;
    border: 0.5px solid rgba(0, 0, 0, 0.20);
    background: #fff;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: -16px;
    border-radius: 16px;

    @include mobile {
      padding: 0;
      margin: 0;
    }
  }

  &__card:hover &__value {
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  &__media {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 191px;
    margin-bottom: 8px;

    img {
      max-width: 100%;
      height: auto;
    }

    @include mobile {
      min-height: 140px;
    }
  }

  &__value {
    width: max-content;
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 8px;
    color: #0c1021;
    background:
      linear-gradient(0deg, rgba(66, 104, 255, 0.20) 0%, rgba(66, 104, 255, 0.20) 100%),
      linear-gradient(180deg, #2544bd 0%, #4268ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0c1021;
    transition: color 0.25s ease, -webkit-text-fill-color 0.25s ease;

    @include tablet {
      font-size: 52px;
    }

    @include mobile {
      text-align: center;
      margin-inline: auto;
    }
  }

  &__card_title {
    color: #0c1021;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 8px;
    max-width: 190px;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      max-width: none;
      text-align: center;
    }
  }

  &__card_text {
    color: #50556B;
    font-size: 14px;
    line-height: 1.4;

    @include tablet {
      font-size: 12px;
    }

    @include mobile {
      text-align: center;
    }
  }
}
