@use '@/shared/lib/styles/mixin.scss' as *;

.agents_hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding-top: 76px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    width: 100%;
    height: 286px;
    position: absolute;
    top: -155px;
    background: #fff;
    filter: blur(100px);
    z-index: 1;

    @include mobile {
      height: 140px;
      top: -70px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    height: calc(100% + 56px);
    width: auto;
    aspect-ratio: 1440 / 537;
    min-width: 100%;
    pointer-events: none;
    z-index: 0;
  }

  &__rings {
    position: absolute;
    inset: 0;
  }

  &__ring {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform-origin: center;

    @include tablet {
      transform-origin: 50% 100%;
    }

    img {
      height: auto;
      max-width: none;
    }

    &:nth-child(1) {
      animation:
        agents-hero-icon-one-opacity 10.66405s linear infinite,
        agents-hero-icon-one-scale 10.66405s linear infinite;
    }

    &:nth-child(2) {
      animation:
        agents-hero-icon-two-opacity 10.66405s linear infinite,
        agents-hero-icon-two-scale 10.66405s linear infinite;
    }

    &:nth-child(3) {
      animation:
        agents-hero-icon-three-opacity 10.66405s linear infinite,
        agents-hero-icon-three-scale 10.66405s linear infinite;
    }

    &:nth-child(4) {
      animation:
        agents-hero-icon-four-opacity 10.66405s linear infinite,
        agents-hero-icon-four-scale 10.66405s linear infinite;
    }

    &:nth-child(5) {
      animation:
        agents-hero-icon-five-opacity 10.66405s linear infinite,
        agents-hero-icon-five-scale 10.66405s linear infinite;
    }

    &:nth-child(6) {
      animation:
        agents-hero-icon-six-opacity 10.66405s linear infinite,
        agents-hero-icon-six-scale 10.66405s linear infinite;
    }

    &:nth-child(7) {
      animation:
        agents-hero-icon-seven-opacity 10.66405s linear infinite,
        agents-hero-icon-seven-scale 10.66405s linear infinite;
    }

    &:nth-child(8) {
      animation:
        agents-hero-icon-eight-opacity 10.66405s linear infinite,
        agents-hero-icon-eight-scale 10.66405s linear infinite;
    }

    &:nth-child(9) {
      animation:
        agents-hero-icon-nine-opacity 10.66405s linear infinite,
        agents-hero-icon-nine-scale 10.8s linear infinite;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    padding-block: 16px;
  }

  &__title {
    color: #0c1021;
    text-align: center;
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 12px;

    @include tablet {
      font-size: 40px;
      line-height: 1.2;
      margin-bottom: 10px;
    }
  }

  &__description {
    color: #50556b;
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    max-width: 800px;
    margin: 0 auto 48px auto;

    @include tablet {
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 10px;
    }
  }

  &__btn {
    margin-inline: auto;
  }
}

@keyframes agents-hero-icon-one-opacity {
  0% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  9.377% {
    animation-timing-function: ease-in-out;
    opacity: 0.92;
  }
  18.755% {
    opacity: 1;
  }
  37.509% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  46.887% {
    animation-timing-function: ease-in-out;
    opacity: 0.92;
  }
  56.264% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes agents-hero-icon-one-scale {
  0% {
    scale: 1 1;
  }
  0.938% {
    scale: 1.004 1.004;
  }
  1.875% {
    scale: 1.008 1.008;
  }
  2.813% {
    scale: 1.014 1.014;
  }
  3.751% {
    scale: 1.02 1.02;
  }
  4.689% {
    scale: 1.027 1.027;
  }
  5.626% {
    scale: 1.033 1.033;
  }
  6.564% {
    scale: 1.039 1.039;
  }
  7.502% {
    scale: 1.045 1.045;
  }
  8.44% {
    scale: 1.049 1.049;
  }
  9.377% {
    scale: 1.053 1.053;
  }
  10.315% {
    scale: 1.055 1.055;
  }
  11.253% {
    scale: 1.057 1.057;
  }
  12.19% {
    scale: 1.058 1.058;
  }
  14.066% {
    scale: 1.058 1.058;
  }
  15.004% {
    scale: 1.057 1.057;
  }
  15.941% {
    scale: 1.057 1.057;
  }
  16.879% {
    scale: 1.058 1.058;
  }
  17.817% {
    scale: 1.059 1.059;
  }
  18.755% {
    scale: 1.062 1.062;
  }
  19.692% {
    scale: 1.064 1.064;
  }
  20.63% {
    scale: 1.066 1.066;
  }
  21.568% {
    scale: 1.068 1.068;
  }
  22.506% {
    scale: 1.069 1.069;
  }
  23.443% {
    scale: 1.07 1.07;
  }
  24.381% {
    scale: 1.071 1.071;
  }
  25.319% {
    scale: 1.072 1.072;
  }
  26.256% {
    scale: 1.074 1.074;
  }
  27.194% {
    scale: 1.076 1.076;
  }
  28.132% {
    scale: 1.078 1.078;
  }
  29.07% {
    scale: 1.081 1.081;
  }
  30.007% {
    scale: 1.084 1.084;
  }
  30.945% {
    scale: 1.088 1.088;
  }
  31.883% {
    scale: 1.092 1.092;
  }
  32.821% {
    scale: 1.096 1.096;
  }
  33.758% {
    scale: 1.101 1.101;
  }
  34.696% {
    scale: 1.105 1.105;
  }
  35.634% {
    scale: 1.108 1.108;
  }
  36.571% {
    scale: 1.112 1.112;
  }
  37.509% {
    scale: 1.114 1.114;
  }
  38.447% {
    scale: 1.117 1.117;
  }
  39.385% {
    scale: 1.121 1.121;
  }
  40.322% {
    scale: 1.125 1.125;
  }
  41.26% {
    scale: 1.131 1.131;
  }
  42.198% {
    scale: 1.137 1.137;
  }
  43.136% {
    scale: 1.143 1.143;
  }
  44.073% {
    scale: 1.149 1.149;
  }
  45.011% {
    scale: 1.153 1.153;
  }
  45.949% {
    scale: 1.157 1.157;
  }
  46.887% {
    scale: 1.16 1.16;
  }
  47.824% {
    scale: 1.161 1.161;
  }
  48.762% {
    scale: 1.162 1.162;
  }
  49.7% {
    scale: 1.162 1.162;
  }
  50.637% {
    scale: 1.161 1.161;
  }
  51.575% {
    scale: 1.159 1.159;
  }
  52.513% {
    scale: 1.157 1.157;
  }
  53.451% {
    scale: 1.156 1.156;
  }
  54.388% {
    scale: 1.155 1.155;
  }
  55.326% {
    scale: 1.156 1.156;
  }
  56.264% {
    scale: 1.157 1.157;
  }
  57.202% {
    scale: 1.159 1.159;
  }
  58.139% {
    scale: 1.16 1.16;
  }
  63.766% {
    scale: 1.16 1.16;
  }
  64.703% {
    scale: 1.161 1.161;
  }
  65.641% {
    scale: 1.162 1.162;
  }
  66.579% {
    scale: 1.164 1.164;
  }
  67.517% {
    scale: 1.166 1.166;
  }
  68.454% {
    scale: 1.169 1.169;
  }
  69.392% {
    scale: 1.172 1.172;
  }
  70.33% {
    scale: 1.175 1.175;
  }
  71.267% {
    scale: 1.179 1.179;
  }
  72.205% {
    scale: 1.182 1.182;
  }
  73.143% {
    scale: 1.184 1.184;
  }
  74.081% {
    scale: 1.186 1.186;
  }
  75.018% {
    scale: 1.188 1.188;
  }
  75.956% {
    scale: 1.189 1.189;
  }
  76.894% {
    scale: 1.19 1.19;
  }
  77.832% {
    scale: 1.191 1.191;
  }
  78.769% {
    scale: 1.192 1.192;
  }
  79.707% {
    scale: 1.193 1.193;
  }
  80.645% {
    scale: 1.194 1.194;
  }
  81.583% {
    scale: 1.194 1.194;
  }
  82.52% {
    scale: 1.195 1.195;
  }
  83.458% {
    scale: 1.196 1.196;
  }
  84.396% {
    scale: 1.197 1.197;
  }
  85.333% {
    scale: 1.197 1.197;
  }
  86.271% {
    scale: 1.198 1.198;
  }
  87.209% {
    scale: 1.198 1.198;
  }
  88.147% {
    scale: 1.199 1.199;
  }
  90.022% {
    scale: 1.199 1.199;
  }
  90.96% {
    scale: 1.2 1.2;
  }
  100% {
    scale: 1.2 1.2;
  }
}

@keyframes agents-hero-icon-two-opacity {
  0% {
    opacity: 1;
  }
  3.282% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  12.659% {
    animation-timing-function: ease-in-out;
    opacity: 0.9;
  }
  22.037% {
    opacity: 1;
  }
  40.791% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  50.169% {
    animation-timing-function: ease-in-out;
    opacity: 0.9;
  }
  59.546% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes agents-hero-icon-two-scale {
  0% {
    scale: 1 1;
  }
  0.938% {
    scale: 1.003 1.003;
  }
  1.875% {
    scale: 1.007 1.007;
  }
  2.813% {
    scale: 1.01 1.01;
  }
  3.751% {
    scale: 1.013 1.013;
  }
  4.689% {
    scale: 1.018 1.018;
  }
  5.626% {
    scale: 1.023 1.023;
  }
  6.564% {
    scale: 1.029 1.029;
  }
  7.502% {
    scale: 1.037 1.037;
  }
  8.44% {
    scale: 1.044 1.044;
  }
  9.377% {
    scale: 1.051 1.051;
  }
  10.315% {
    scale: 1.058 1.058;
  }
  11.253% {
    scale: 1.063 1.063;
  }
  12.19% {
    scale: 1.067 1.067;
  }
  13.128% {
    scale: 1.07 1.07;
  }
  14.066% {
    scale: 1.072 1.072;
  }
  15.004% {
    scale: 1.073 1.073;
  }
  15.941% {
    scale: 1.073 1.073;
  }
  16.879% {
    scale: 1.071 1.071;
  }
  17.817% {
    scale: 1.07 1.07;
  }
  18.755% {
    scale: 1.068 1.068;
  }
  19.692% {
    scale: 1.068 1.068;
  }
  20.63% {
    scale: 1.069 1.069;
  }
  21.568% {
    scale: 1.07 1.07;
  }
  22.506% {
    scale: 1.073 1.073;
  }
  23.443% {
    scale: 1.075 1.075;
  }
  24.381% {
    scale: 1.077 1.077;
  }
  25.319% {
    scale: 1.078 1.078;
  }
  27.194% {
    scale: 1.078 1.078;
  }
  28.132% {
    scale: 1.079 1.079;
  }
  29.07% {
    scale: 1.08 1.08;
  }
  30.007% {
    scale: 1.081 1.081;
  }
  30.945% {
    scale: 1.083 1.083;
  }
  31.883% {
    scale: 1.086 1.086;
  }
  32.821% {
    scale: 1.089 1.089;
  }
  33.758% {
    scale: 1.092 1.092;
  }
  34.696% {
    scale: 1.097 1.097;
  }
  35.634% {
    scale: 1.101 1.101;
  }
  36.571% {
    scale: 1.106 1.106;
  }
  37.509% {
    scale: 1.111 1.111;
  }
  38.447% {
    scale: 1.115 1.115;
  }
  39.385% {
    scale: 1.118 1.118;
  }
  40.322% {
    scale: 1.121 1.121;
  }
  41.26% {
    scale: 1.124 1.124;
  }
  42.198% {
    scale: 1.127 1.127;
  }
  43.136% {
    scale: 1.132 1.132;
  }
  44.073% {
    scale: 1.138 1.138;
  }
  45.011% {
    scale: 1.144 1.144;
  }
  45.949% {
    scale: 1.151 1.151;
  }
  46.887% {
    scale: 1.158 1.158;
  }
  47.824% {
    scale: 1.164 1.164;
  }
  48.762% {
    scale: 1.168 1.168;
  }
  49.7% {
    scale: 1.172 1.172;
  }
  50.637% {
    scale: 1.174 1.174;
  }
  51.575% {
    scale: 1.175 1.175;
  }
  52.513% {
    scale: 1.174 1.174;
  }
  53.451% {
    scale: 1.173 1.173;
  }
  54.388% {
    scale: 1.17 1.17;
  }
  55.326% {
    scale: 1.167 1.167;
  }
  56.264% {
    scale: 1.164 1.164;
  }
  57.202% {
    scale: 1.163 1.163;
  }
  58.139% {
    scale: 1.162 1.162;
  }
  59.077% {
    scale: 1.163 1.163;
  }
  60.015% {
    scale: 1.164 1.164;
  }
  60.952% {
    scale: 1.165 1.165;
  }
  61.89% {
    scale: 1.166 1.166;
  }
  62.828% {
    scale: 1.166 1.166;
  }
  63.766% {
    scale: 1.165 1.165;
  }
  64.703% {
    scale: 1.164 1.164;
  }
  65.641% {
    scale: 1.163 1.163;
  }
  67.517% {
    scale: 1.163 1.163;
  }
  68.454% {
    scale: 1.164 1.164;
  }
  69.392% {
    scale: 1.165 1.165;
  }
  70.33% {
    scale: 1.167 1.167;
  }
  71.267% {
    scale: 1.17 1.17;
  }
  72.205% {
    scale: 1.173 1.173;
  }
  73.143% {
    scale: 1.176 1.176;
  }
  74.081% {
    scale: 1.18 1.18;
  }
  75.018% {
    scale: 1.184 1.184;
  }
  75.956% {
    scale: 1.187 1.187;
  }
  76.894% {
    scale: 1.189 1.189;
  }
  77.832% {
    scale: 1.191 1.191;
  }
  78.769% {
    scale: 1.192 1.192;
  }
  79.707% {
    scale: 1.193 1.193;
  }
  80.645% {
    scale: 1.194 1.194;
  }
  81.583% {
    scale: 1.194 1.194;
  }
  82.52% {
    scale: 1.195 1.195;
  }
  83.458% {
    scale: 1.196 1.196;
  }
  84.396% {
    scale: 1.197 1.197;
  }
  85.333% {
    scale: 1.197 1.197;
  }
  86.271% {
    scale: 1.198 1.198;
  }
  87.209% {
    scale: 1.198 1.198;
  }
  88.147% {
    scale: 1.199 1.199;
  }
  90.022% {
    scale: 1.199 1.199;
  }
  90.96% {
    scale: 1.2 1.2;
  }
  100% {
    scale: 1.2 1.2;
  }
}

@keyframes agents-hero-icon-three-opacity {
  0% {
    opacity: 1;
  }
  6.564% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  15.941% {
    animation-timing-function: ease-in-out;
    opacity: 0.88;
  }
  25.319% {
    opacity: 1;
  }
  44.073% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  53.451% {
    animation-timing-function: ease-in-out;
    opacity: 0.88;
  }
  62.828% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes agents-hero-icon-three-scale {
  0% {
    scale: 1 1;
  }
  0.938% {
    scale: 1.003 1.003;
  }
  1.875% {
    scale: 1.007 1.007;
  }
  2.813% {
    scale: 1.01 1.01;
  }
  3.751% {
    scale: 1.013 1.013;
  }
  4.689% {
    scale: 1.016 1.016;
  }
  5.626% {
    scale: 1.02 1.02;
  }
  6.564% {
    scale: 1.023 1.023;
  }
  7.502% {
    scale: 1.027 1.027;
  }
  8.44% {
    scale: 1.032 1.032;
  }
  9.377% {
    scale: 1.038 1.038;
  }
  10.315% {
    scale: 1.045 1.045;
  }
  11.253% {
    scale: 1.054 1.054;
  }
  12.19% {
    scale: 1.062 1.062;
  }
  13.128% {
    scale: 1.07 1.07;
  }
  14.066% {
    scale: 1.076 1.076;
  }
  15.004% {
    scale: 1.081 1.081;
  }
  15.941% {
    scale: 1.085 1.085;
  }
  16.879% {
    scale: 1.087 1.087;
  }
  17.817% {
    scale: 1.088 1.088;
  }
  18.755% {
    scale: 1.088 1.088;
  }
  19.692% {
    scale: 1.086 1.086;
  }
  20.63% {
    scale: 1.083 1.083;
  }
  21.568% {
    scale: 1.081 1.081;
  }
  22.506% {
    scale: 1.079 1.079;
  }
  23.443% {
    scale: 1.078 1.078;
  }
  24.381% {
    scale: 1.079 1.079;
  }
  25.319% {
    scale: 1.081 1.081;
  }
  26.256% {
    scale: 1.083 1.083;
  }
  27.194% {
    scale: 1.085 1.085;
  }
  28.132% {
    scale: 1.086 1.086;
  }
  31.883% {
    scale: 1.086 1.086;
  }
  32.821% {
    scale: 1.087 1.087;
  }
  33.758% {
    scale: 1.088 1.088;
  }
  34.696% {
    scale: 1.09 1.09;
  }
  35.634% {
    scale: 1.093 1.093;
  }
  36.571% {
    scale: 1.096 1.096;
  }
  37.509% {
    scale: 1.101 1.101;
  }
  38.447% {
    scale: 1.105 1.105;
  }
  39.385% {
    scale: 1.111 1.111;
  }
  40.322% {
    scale: 1.116 1.116;
  }
  41.26% {
    scale: 1.12 1.12;
  }
  42.198% {
    scale: 1.124 1.124;
  }
  43.136% {
    scale: 1.128 1.128;
  }
  44.073% {
    scale: 1.13 1.13;
  }
  45.011% {
    scale: 1.133 1.133;
  }
  45.949% {
    scale: 1.138 1.138;
  }
  46.887% {
    scale: 1.143 1.143;
  }
  47.824% {
    scale: 1.15 1.15;
  }
  48.762% {
    scale: 1.158 1.158;
  }
  49.7% {
    scale: 1.166 1.166;
  }
  50.637% {
    scale: 1.173 1.173;
  }
  51.575% {
    scale: 1.179 1.179;
  }
  52.513% {
    scale: 1.183 1.183;
  }
  53.451% {
    scale: 1.186 1.186;
  }
  54.388% {
    scale: 1.187 1.187;
  }
  55.326% {
    scale: 1.187 1.187;
  }
  56.264% {
    scale: 1.185 1.185;
  }
  57.202% {
    scale: 1.182 1.182;
  }
  58.139% {
    scale: 1.178 1.178;
  }
  59.077% {
    scale: 1.174 1.174;
  }
  60.015% {
    scale: 1.171 1.171;
  }
  60.952% {
    scale: 1.169 1.169;
  }
  61.89% {
    scale: 1.168 1.168;
  }
  62.828% {
    scale: 1.169 1.169;
  }
  63.766% {
    scale: 1.171 1.171;
  }
  65.641% {
    scale: 1.171 1.171;
  }
  66.579% {
    scale: 1.17 1.17;
  }
  67.517% {
    scale: 1.168 1.168;
  }
  68.454% {
    scale: 1.167 1.167;
  }
  69.392% {
    scale: 1.166 1.166;
  }
  70.33% {
    scale: 1.165 1.165;
  }
  71.267% {
    scale: 1.165 1.165;
  }
  72.205% {
    scale: 1.166 1.166;
  }
  73.143% {
    scale: 1.168 1.168;
  }
  74.081% {
    scale: 1.17 1.17;
  }
  75.018% {
    scale: 1.173 1.173;
  }
  75.956% {
    scale: 1.177 1.177;
  }
  76.894% {
    scale: 1.181 1.181;
  }
  77.832% {
    scale: 1.185 1.185;
  }
  78.769% {
    scale: 1.188 1.188;
  }
  79.707% {
    scale: 1.191 1.191;
  }
  80.645% {
    scale: 1.193 1.193;
  }
  81.583% {
    scale: 1.194 1.194;
  }
  82.52% {
    scale: 1.195 1.195;
  }
  83.458% {
    scale: 1.196 1.196;
  }
  84.396% {
    scale: 1.197 1.197;
  }
  85.333% {
    scale: 1.197 1.197;
  }
  86.271% {
    scale: 1.198 1.198;
  }
  87.209% {
    scale: 1.198 1.198;
  }
  88.147% {
    scale: 1.199 1.199;
  }
  90.022% {
    scale: 1.199 1.199;
  }
  90.96% {
    scale: 1.2 1.2;
  }
  100% {
    scale: 1.2 1.2;
  }
}

@keyframes agents-hero-icon-four-opacity {
  0% {
    opacity: 1;
  }
  9.846% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  19.223% {
    animation-timing-function: ease-in-out;
    opacity: 0.86;
  }
  28.601% {
    opacity: 1;
  }
  47.355% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  56.733% {
    animation-timing-function: ease-in-out;
    opacity: 0.86;
  }
  66.11% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes agents-hero-icon-four-scale {
  0% {
    scale: 1 1;
  }
  0.938% {
    scale: 1.003 1.003;
  }
  1.875% {
    scale: 1.007 1.007;
  }
  2.813% {
    scale: 1.01 1.01;
  }
  3.751% {
    scale: 1.013 1.013;
  }
  4.689% {
    scale: 1.016 1.016;
  }
  5.626% {
    scale: 1.02 1.02;
  }
  6.564% {
    scale: 1.023 1.023;
  }
  7.502% {
    scale: 1.026 1.026;
  }
  8.44% {
    scale: 1.029 1.029;
  }
  9.377% {
    scale: 1.032 1.032;
  }
  10.315% {
    scale: 1.035 1.035;
  }
  11.253% {
    scale: 1.04 1.04;
  }
  12.19% {
    scale: 1.046 1.046;
  }
  13.128% {
    scale: 1.054 1.054;
  }
  14.066% {
    scale: 1.062 1.062;
  }
  15.004% {
    scale: 1.072 1.072;
  }
  15.941% {
    scale: 1.08 1.08;
  }
  16.879% {
    scale: 1.088 1.088;
  }
  17.817% {
    scale: 1.094 1.094;
  }
  18.755% {
    scale: 1.099 1.099;
  }
  19.692% {
    scale: 1.102 1.102;
  }
  20.63% {
    scale: 1.103 1.103;
  }
  21.568% {
    scale: 1.103 1.103;
  }
  22.506% {
    scale: 1.101 1.101;
  }
  23.443% {
    scale: 1.098 1.098;
  }
  24.381% {
    scale: 1.094 1.094;
  }
  25.319% {
    scale: 1.091 1.091;
  }
  26.256% {
    scale: 1.089 1.089;
  }
  27.194% {
    scale: 1.088 1.088;
  }
  28.132% {
    scale: 1.089 1.089;
  }
  29.07% {
    scale: 1.092 1.092;
  }
  30.007% {
    scale: 1.093 1.093;
  }
  30.945% {
    scale: 1.094 1.094;
  }
  32.821% {
    scale: 1.094 1.094;
  }
  33.758% {
    scale: 1.093 1.093;
  }
  34.696% {
    scale: 1.092 1.092;
  }
  35.634% {
    scale: 1.092 1.092;
  }
  36.571% {
    scale: 1.093 1.093;
  }
  37.509% {
    scale: 1.095 1.095;
  }
  38.447% {
    scale: 1.097 1.097;
  }
  39.385% {
    scale: 1.1 1.1;
  }
  40.322% {
    scale: 1.104 1.104;
  }
  41.26% {
    scale: 1.109 1.109;
  }
  42.198% {
    scale: 1.114 1.114;
  }
  43.136% {
    scale: 1.12 1.12;
  }
  44.073% {
    scale: 1.125 1.125;
  }
  45.011% {
    scale: 1.13 1.13;
  }
  45.949% {
    scale: 1.134 1.134;
  }
  46.887% {
    scale: 1.137 1.137;
  }
  47.824% {
    scale: 1.139 1.139;
  }
  48.762% {
    scale: 1.143 1.143;
  }
  49.7% {
    scale: 1.148 1.148;
  }
  50.637% {
    scale: 1.156 1.156;
  }
  51.575% {
    scale: 1.164 1.164;
  }
  52.513% {
    scale: 1.173 1.173;
  }
  53.451% {
    scale: 1.181 1.181;
  }
  54.388% {
    scale: 1.188 1.188;
  }
  55.326% {
    scale: 1.194 1.194;
  }
  56.264% {
    scale: 1.197 1.197;
  }
  57.202% {
    scale: 1.199 1.199;
  }
  58.139% {
    scale: 1.199 1.199;
  }
  59.077% {
    scale: 1.198 1.198;
  }
  60.015% {
    scale: 1.195 1.195;
  }
  60.952% {
    scale: 1.19 1.19;
  }
  61.89% {
    scale: 1.185 1.185;
  }
  62.828% {
    scale: 1.18 1.18;
  }
  63.766% {
    scale: 1.176 1.176;
  }
  64.703% {
    scale: 1.174 1.174;
  }
  65.641% {
    scale: 1.174 1.174;
  }
  66.579% {
    scale: 1.176 1.176;
  }
  68.454% {
    scale: 1.176 1.176;
  }
  69.392% {
    scale: 1.175 1.175;
  }
  70.33% {
    scale: 1.173 1.173;
  }
  71.267% {
    scale: 1.171 1.171;
  }
  72.205% {
    scale: 1.169 1.169;
  }
  73.143% {
    scale: 1.167 1.167;
  }
  75.018% {
    scale: 1.167 1.167;
  }
  75.956% {
    scale: 1.168 1.168;
  }
  76.894% {
    scale: 1.17 1.17;
  }
  77.832% {
    scale: 1.173 1.173;
  }
  78.769% {
    scale: 1.176 1.176;
  }
  79.707% {
    scale: 1.18 1.18;
  }
  80.645% {
    scale: 1.185 1.185;
  }
  81.583% {
    scale: 1.189 1.189;
  }
  82.52% {
    scale: 1.192 1.192;
  }
  83.458% {
    scale: 1.195 1.195;
  }
  84.396% {
    scale: 1.196 1.196;
  }
  85.333% {
    scale: 1.197 1.197;
  }
  86.271% {
    scale: 1.198 1.198;
  }
  87.209% {
    scale: 1.198 1.198;
  }
  88.147% {
    scale: 1.199 1.199;
  }
  90.022% {
    scale: 1.199 1.199;
  }
  90.96% {
    scale: 1.2 1.2;
  }
  100% {
    scale: 1.2 1.2;
  }
}

@keyframes agents-hero-icon-five-opacity {
  0% {
    opacity: 1;
  }
  13.128% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  22.506% {
    animation-timing-function: ease-in-out;
    opacity: 0.84;
  }
  31.883% {
    opacity: 1;
  }
  50.637% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  60.015% {
    animation-timing-function: ease-in-out;
    opacity: 0.84;
  }
  69.392% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes agents-hero-icon-five-scale {
  0% {
    scale: 1 1;
  }
  0.938% {
    scale: 1.003 1.003;
  }
  1.875% {
    scale: 1.007 1.007;
  }
  2.813% {
    scale: 1.01 1.01;
  }
  3.751% {
    scale: 1.013 1.013;
  }
  4.689% {
    scale: 1.016 1.016;
  }
  5.626% {
    scale: 1.02 1.02;
  }
  6.564% {
    scale: 1.023 1.023;
  }
  7.502% {
    scale: 1.026 1.026;
  }
  8.44% {
    scale: 1.029 1.029;
  }
  9.377% {
    scale: 1.032 1.032;
  }
  10.315% {
    scale: 1.035 1.035;
  }
  11.253% {
    scale: 1.038 1.038;
  }
  12.19% {
    scale: 1.041 1.041;
  }
  13.128% {
    scale: 1.044 1.044;
  }
  14.066% {
    scale: 1.048 1.048;
  }
  15.004% {
    scale: 1.054 1.054;
  }
  15.941% {
    scale: 1.061 1.061;
  }
  16.879% {
    scale: 1.07 1.07;
  }
  17.817% {
    scale: 1.08 1.08;
  }
  18.755% {
    scale: 1.09 1.09;
  }
  19.692% {
    scale: 1.099 1.099;
  }
  20.63% {
    scale: 1.107 1.107;
  }
  21.568% {
    scale: 1.112 1.112;
  }
  22.506% {
    scale: 1.116 1.116;
  }
  23.443% {
    scale: 1.118 1.118;
  }
  24.381% {
    scale: 1.118 1.118;
  }
  25.319% {
    scale: 1.116 1.116;
  }
  26.256% {
    scale: 1.113 1.113;
  }
  27.194% {
    scale: 1.108 1.108;
  }
  28.132% {
    scale: 1.103 1.103;
  }
  29.07% {
    scale: 1.1 1.1;
  }
  30.007% {
    scale: 1.098 1.098;
  }
  30.945% {
    scale: 1.098 1.098;
  }
  31.883% {
    scale: 1.099 1.099;
  }
  32.821% {
    scale: 1.101 1.101;
  }
  33.758% {
    scale: 1.103 1.103;
  }
  34.696% {
    scale: 1.103 1.103;
  }
  35.634% {
    scale: 1.102 1.102;
  }
  36.571% {
    scale: 1.101 1.101;
  }
  37.509% {
    scale: 1.099 1.099;
  }
  38.447% {
    scale: 1.098 1.098;
  }
  39.385% {
    scale: 1.098 1.098;
  }
  40.322% {
    scale: 1.099 1.099;
  }
  41.26% {
    scale: 1.101 1.101;
  }
  42.198% {
    scale: 1.104 1.104;
  }
  43.136% {
    scale: 1.107 1.107;
  }
  44.073% {
    scale: 1.112 1.112;
  }
  45.011% {
    scale: 1.117 1.117;
  }
  45.949% {
    scale: 1.123 1.123;
  }
  46.887% {
    scale: 1.129 1.129;
  }
  47.824% {
    scale: 1.135 1.135;
  }
  48.762% {
    scale: 1.139 1.139;
  }
  49.7% {
    scale: 1.143 1.143;
  }
  50.637% {
    scale: 1.145 1.145;
  }
  51.575% {
    scale: 1.148 1.148;
  }
  52.513% {
    scale: 1.153 1.153;
  }
  53.451% {
    scale: 1.16 1.16;
  }
  54.388% {
    scale: 1.169 1.169;
  }
  55.326% {
    scale: 1.178 1.178;
  }
  56.264% {
    scale: 1.188 1.188;
  }
  57.202% {
    scale: 1.197 1.197;
  }
  58.139% {
    scale: 1.203 1.203;
  }
  59.077% {
    scale: 1.208 1.208;
  }
  60.015% {
    scale: 1.211 1.211;
  }
  60.952% {
    scale: 1.212 1.212;
  }
  61.89% {
    scale: 1.211 1.211;
  }
  62.828% {
    scale: 1.207 1.207;
  }
  63.766% {
    scale: 1.202 1.202;
  }
  64.703% {
    scale: 1.196 1.196;
  }
  65.641% {
    scale: 1.19 1.19;
  }
  66.579% {
    scale: 1.184 1.184;
  }
  67.517% {
    scale: 1.181 1.181;
  }
  68.454% {
    scale: 1.179 1.179;
  }
  69.392% {
    scale: 1.18 1.18;
  }
  70.33% {
    scale: 1.181 1.181;
  }
  71.267% {
    scale: 1.181 1.181;
  }
  72.205% {
    scale: 1.179 1.179;
  }
  73.143% {
    scale: 1.177 1.177;
  }
  74.081% {
    scale: 1.175 1.175;
  }
  75.018% {
    scale: 1.172 1.172;
  }
  75.956% {
    scale: 1.169 1.169;
  }
  76.894% {
    scale: 1.168 1.168;
  }
  77.832% {
    scale: 1.167 1.167;
  }
  78.769% {
    scale: 1.168 1.168;
  }
  79.707% {
    scale: 1.169 1.169;
  }
  80.645% {
    scale: 1.172 1.172;
  }
  81.583% {
    scale: 1.175 1.175;
  }
  82.52% {
    scale: 1.179 1.179;
  }
  83.458% {
    scale: 1.184 1.184;
  }
  84.396% {
    scale: 1.189 1.189;
  }
  85.333% {
    scale: 1.193 1.193;
  }
  86.271% {
    scale: 1.196 1.196;
  }
  87.209% {
    scale: 1.198 1.198;
  }
  88.147% {
    scale: 1.199 1.199;
  }
  90.022% {
    scale: 1.199 1.199;
  }
  90.96% {
    scale: 1.2 1.2;
  }
  100% {
    scale: 1.2 1.2;
  }
}

@keyframes agents-hero-icon-six-opacity {
  0% {
    opacity: 1;
  }
  16.41% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  25.788% {
    animation-timing-function: ease-in-out;
    opacity: 0.82;
  }
  35.165% {
    opacity: 1;
  }
  53.919% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  63.297% {
    animation-timing-function: ease-in-out;
    opacity: 0.82;
  }
  72.674% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes agents-hero-icon-six-scale {
  0% {
    scale: 1 1;
  }
  0.938% {
    scale: 1.003 1.003;
  }
  1.875% {
    scale: 1.007 1.007;
  }
  2.813% {
    scale: 1.01 1.01;
  }
  3.751% {
    scale: 1.013 1.013;
  }
  4.689% {
    scale: 1.016 1.016;
  }
  5.626% {
    scale: 1.02 1.02;
  }
  6.564% {
    scale: 1.023 1.023;
  }
  7.502% {
    scale: 1.026 1.026;
  }
  8.44% {
    scale: 1.029 1.029;
  }
  9.377% {
    scale: 1.032 1.032;
  }
  10.315% {
    scale: 1.035 1.035;
  }
  11.253% {
    scale: 1.038 1.038;
  }
  12.19% {
    scale: 1.041 1.041;
  }
  13.128% {
    scale: 1.044 1.044;
  }
  14.066% {
    scale: 1.047 1.047;
  }
  15.004% {
    scale: 1.05 1.05;
  }
  15.941% {
    scale: 1.053 1.053;
  }
  16.879% {
    scale: 1.056 1.056;
  }
  17.817% {
    scale: 1.061 1.061;
  }
  18.755% {
    scale: 1.068 1.068;
  }
  19.692% {
    scale: 1.077 1.077;
  }
  20.63% {
    scale: 1.087 1.087;
  }
  21.568% {
    scale: 1.098 1.098;
  }
  22.506% {
    scale: 1.109 1.109;
  }
  23.443% {
    scale: 1.118 1.118;
  }
  24.381% {
    scale: 1.125 1.125;
  }
  25.319% {
    scale: 1.129 1.129;
  }
  26.256% {
    scale: 1.132 1.132;
  }
  27.194% {
    scale: 1.133 1.133;
  }
  28.132% {
    scale: 1.132 1.132;
  }
  29.07% {
    scale: 1.128 1.128;
  }
  30.007% {
    scale: 1.123 1.123;
  }
  30.945% {
    scale: 1.117 1.117;
  }
  31.883% {
    scale: 1.112 1.112;
  }
  32.821% {
    scale: 1.108 1.108;
  }
  33.758% {
    scale: 1.107 1.107;
  }
  34.696% {
    scale: 1.107 1.107;
  }
  35.634% {
    scale: 1.109 1.109;
  }
  36.571% {
    scale: 1.111 1.111;
  }
  37.509% {
    scale: 1.111 1.111;
  }
  38.447% {
    scale: 1.11 1.11;
  }
  39.385% {
    scale: 1.108 1.108;
  }
  40.322% {
    scale: 1.106 1.106;
  }
  41.26% {
    scale: 1.105 1.105;
  }
  42.198% {
    scale: 1.104 1.104;
  }
  43.136% {
    scale: 1.104 1.104;
  }
  44.073% {
    scale: 1.105 1.105;
  }
  45.011% {
    scale: 1.107 1.107;
  }
  45.949% {
    scale: 1.11 1.11;
  }
  46.887% {
    scale: 1.115 1.115;
  }
  47.824% {
    scale: 1.12 1.12;
  }
  48.762% {
    scale: 1.126 1.126;
  }
  49.7% {
    scale: 1.133 1.133;
  }
  50.637% {
    scale: 1.139 1.139;
  }
  51.575% {
    scale: 1.144 1.144;
  }
  52.513% {
    scale: 1.148 1.148;
  }
  53.451% {
    scale: 1.151 1.151;
  }
  54.388% {
    scale: 1.153 1.153;
  }
  55.326% {
    scale: 1.157 1.157;
  }
  56.264% {
    scale: 1.164 1.164;
  }
  57.202% {
    scale: 1.172 1.172;
  }
  58.139% {
    scale: 1.182 1.182;
  }
  59.077% {
    scale: 1.193 1.193;
  }
  60.015% {
    scale: 1.203 1.203;
  }
  60.952% {
    scale: 1.212 1.212;
  }
  61.89% {
    scale: 1.218 1.218;
  }
  62.828% {
    scale: 1.222 1.222;
  }
  63.766% {
    scale: 1.223 1.223;
  }
  64.703% {
    scale: 1.223 1.223;
  }
  65.641% {
    scale: 1.22 1.22;
  }
  66.579% {
    scale: 1.215 1.215;
  }
  67.517% {
    scale: 1.208 1.208;
  }
  68.454% {
    scale: 1.201 1.201;
  }
  69.392% {
    scale: 1.194 1.194;
  }
  70.33% {
    scale: 1.188 1.188;
  }
  71.267% {
    scale: 1.185 1.185;
  }
  72.205% {
    scale: 1.184 1.184;
  }
  73.143% {
    scale: 1.185 1.185;
  }
  74.081% {
    scale: 1.185 1.185;
  }
  75.018% {
    scale: 1.184 1.184;
  }
  75.956% {
    scale: 1.182 1.182;
  }
  76.894% {
    scale: 1.179 1.179;
  }
  77.832% {
    scale: 1.175 1.175;
  }
  78.769% {
    scale: 1.172 1.172;
  }
  79.707% {
    scale: 1.169 1.169;
  }
  80.645% {
    scale: 1.168 1.168;
  }
  82.52% {
    scale: 1.168 1.168;
  }
  83.458% {
    scale: 1.17 1.17;
  }
  84.396% {
    scale: 1.173 1.173;
  }
  85.333% {
    scale: 1.177 1.177;
  }
  86.271% {
    scale: 1.182 1.182;
  }
  87.209% {
    scale: 1.187 1.187;
  }
  88.147% {
    scale: 1.192 1.192;
  }
  89.084% {
    scale: 1.196 1.196;
  }
  90.022% {
    scale: 1.198 1.198;
  }
  90.96% {
    scale: 1.2 1.2;
  }
  100% {
    scale: 1.2 1.2;
  }
}

@keyframes agents-hero-icon-seven-opacity {
  0% {
    opacity: 1;
  }
  19.692% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  29.07% {
    animation-timing-function: ease-in-out;
    opacity: 0.8;
  }
  38.447% {
    opacity: 1;
  }
  57.202% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  66.579% {
    animation-timing-function: ease-in-out;
    opacity: 0.8;
  }
  75.956% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes agents-hero-icon-seven-scale {
  0% {
    scale: 1 1;
  }
  0.938% {
    scale: 1.003 1.003;
  }
  1.875% {
    scale: 1.007 1.007;
  }
  2.813% {
    scale: 1.01 1.01;
  }
  3.751% {
    scale: 1.013 1.013;
  }
  4.689% {
    scale: 1.016 1.016;
  }
  5.626% {
    scale: 1.02 1.02;
  }
  6.564% {
    scale: 1.023 1.023;
  }
  7.502% {
    scale: 1.026 1.026;
  }
  8.44% {
    scale: 1.029 1.029;
  }
  9.377% {
    scale: 1.032 1.032;
  }
  10.315% {
    scale: 1.035 1.035;
  }
  11.253% {
    scale: 1.038 1.038;
  }
  12.19% {
    scale: 1.041 1.041;
  }
  13.128% {
    scale: 1.044 1.044;
  }
  14.066% {
    scale: 1.047 1.047;
  }
  15.004% {
    scale: 1.05 1.05;
  }
  15.941% {
    scale: 1.053 1.053;
  }
  16.879% {
    scale: 1.056 1.056;
  }
  17.817% {
    scale: 1.059 1.059;
  }
  18.755% {
    scale: 1.062 1.062;
  }
  19.692% {
    scale: 1.065 1.065;
  }
  20.63% {
    scale: 1.068 1.068;
  }
  21.568% {
    scale: 1.074 1.074;
  }
  22.506% {
    scale: 1.083 1.083;
  }
  23.443% {
    scale: 1.093 1.093;
  }
  24.381% {
    scale: 1.105 1.105;
  }
  25.319% {
    scale: 1.117 1.117;
  }
  26.256% {
    scale: 1.128 1.128;
  }
  27.194% {
    scale: 1.136 1.136;
  }
  28.132% {
    scale: 1.142 1.142;
  }
  29.07% {
    scale: 1.146 1.146;
  }
  30.007% {
    scale: 1.148 1.148;
  }
  30.945% {
    scale: 1.147 1.147;
  }
  31.883% {
    scale: 1.144 1.144;
  }
  32.821% {
    scale: 1.139 1.139;
  }
  33.758% {
    scale: 1.132 1.132;
  }
  34.696% {
    scale: 1.125 1.125;
  }
  35.634% {
    scale: 1.12 1.12;
  }
  36.571% {
    scale: 1.116 1.116;
  }
  37.509% {
    scale: 1.115 1.115;
  }
  38.447% {
    scale: 1.117 1.117;
  }
  39.385% {
    scale: 1.118 1.118;
  }
  40.322% {
    scale: 1.119 1.119;
  }
  41.26% {
    scale: 1.118 1.118;
  }
  42.198% {
    scale: 1.117 1.117;
  }
  43.136% {
    scale: 1.114 1.114;
  }
  44.073% {
    scale: 1.111 1.111;
  }
  45.011% {
    scale: 1.11 1.11;
  }
  45.949% {
    scale: 1.109 1.109;
  }
  46.887% {
    scale: 1.109 1.109;
  }
  47.824% {
    scale: 1.111 1.111;
  }
  48.762% {
    scale: 1.113 1.113;
  }
  49.7% {
    scale: 1.117 1.117;
  }
  50.637% {
    scale: 1.122 1.122;
  }
  51.575% {
    scale: 1.128 1.128;
  }
  52.513% {
    scale: 1.135 1.135;
  }
  53.451% {
    scale: 1.142 1.142;
  }
  54.388% {
    scale: 1.148 1.148;
  }
  55.326% {
    scale: 1.153 1.153;
  }
  56.264% {
    scale: 1.156 1.156;
  }
  57.202% {
    scale: 1.159 1.159;
  }
  58.139% {
    scale: 1.162 1.162;
  }
  59.077% {
    scale: 1.167 1.167;
  }
  60.015% {
    scale: 1.175 1.175;
  }
  60.952% {
    scale: 1.185 1.185;
  }
  61.89% {
    scale: 1.197 1.197;
  }
  62.828% {
    scale: 1.208 1.208;
  }
  63.766% {
    scale: 1.219 1.219;
  }
  64.703% {
    scale: 1.226 1.226;
  }
  65.641% {
    scale: 1.232 1.232;
  }
  66.579% {
    scale: 1.234 1.234;
  }
  67.517% {
    scale: 1.235 1.235;
  }
  68.454% {
    scale: 1.233 1.233;
  }
  69.392% {
    scale: 1.228 1.228;
  }
  70.33% {
    scale: 1.221 1.221;
  }
  71.267% {
    scale: 1.212 1.212;
  }
  72.205% {
    scale: 1.204 1.204;
  }
  73.143% {
    scale: 1.196 1.196;
  }
  74.081% {
    scale: 1.191 1.191;
  }
  75.018% {
    scale: 1.189 1.189;
  }
  76.894% {
    scale: 1.189 1.189;
  }
  77.832% {
    scale: 1.188 1.188;
  }
  78.769% {
    scale: 1.186 1.186;
  }
  79.707% {
    scale: 1.183 1.183;
  }
  80.645% {
    scale: 1.179 1.179;
  }
  81.583% {
    scale: 1.174 1.174;
  }
  82.52% {
    scale: 1.171 1.171;
  }
  83.458% {
    scale: 1.168 1.168;
  }
  84.396% {
    scale: 1.167 1.167;
  }
  85.333% {
    scale: 1.167 1.167;
  }
  86.271% {
    scale: 1.168 1.168;
  }
  87.209% {
    scale: 1.171 1.171;
  }
  88.147% {
    scale: 1.174 1.174;
  }
  89.084% {
    scale: 1.179 1.179;
  }
  90.022% {
    scale: 1.184 1.184;
  }
  90.96% {
    scale: 1.19 1.19;
  }
  91.898% {
    scale: 1.194 1.194;
  }
  92.835% {
    scale: 1.198 1.198;
  }
  93.773% {
    scale: 1.199 1.199;
  }
  94.711% {
    scale: 1.2 1.2;
  }
  100% {
    scale: 1.2 1.2;
  }
}

@keyframes agents-hero-icon-eight-opacity {
  0% {
    opacity: 1;
  }
  22.974% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  32.352% {
    animation-timing-function: ease-in-out;
    opacity: 0.78;
  }
  41.729% {
    opacity: 1;
  }
  60.484% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  69.861% {
    animation-timing-function: ease-in-out;
    opacity: 0.78;
  }
  79.238% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes agents-hero-icon-eight-scale {
  0% {
    scale: 1 1;
  }
  0.938% {
    scale: 1.003 1.003;
  }
  1.875% {
    scale: 1.007 1.007;
  }
  2.813% {
    scale: 1.01 1.01;
  }
  3.751% {
    scale: 1.013 1.013;
  }
  4.689% {
    scale: 1.016 1.016;
  }
  5.626% {
    scale: 1.02 1.02;
  }
  6.564% {
    scale: 1.023 1.023;
  }
  7.502% {
    scale: 1.026 1.026;
  }
  8.44% {
    scale: 1.029 1.029;
  }
  9.377% {
    scale: 1.032 1.032;
  }
  10.315% {
    scale: 1.035 1.035;
  }
  11.253% {
    scale: 1.038 1.038;
  }
  12.19% {
    scale: 1.041 1.041;
  }
  13.128% {
    scale: 1.044 1.044;
  }
  14.066% {
    scale: 1.047 1.047;
  }
  15.004% {
    scale: 1.05 1.05;
  }
  15.941% {
    scale: 1.053 1.053;
  }
  16.879% {
    scale: 1.056 1.056;
  }
  17.817% {
    scale: 1.059 1.059;
  }
  18.755% {
    scale: 1.062 1.062;
  }
  19.692% {
    scale: 1.065 1.065;
  }
  20.63% {
    scale: 1.067 1.067;
  }
  21.568% {
    scale: 1.07 1.07;
  }
  22.506% {
    scale: 1.073 1.073;
  }
  23.443% {
    scale: 1.076 1.076;
  }
  24.381% {
    scale: 1.081 1.081;
  }
  25.319% {
    scale: 1.089 1.089;
  }
  26.256% {
    scale: 1.099 1.099;
  }
  27.194% {
    scale: 1.111 1.111;
  }
  28.132% {
    scale: 1.124 1.124;
  }
  29.07% {
    scale: 1.136 1.136;
  }
  30.007% {
    scale: 1.147 1.147;
  }
  30.945% {
    scale: 1.154 1.154;
  }
  31.883% {
    scale: 1.16 1.16;
  }
  32.821% {
    scale: 1.162 1.162;
  }
  33.758% {
    scale: 1.162 1.162;
  }
  34.696% {
    scale: 1.16 1.16;
  }
  35.634% {
    scale: 1.155 1.155;
  }
  36.571% {
    scale: 1.148 1.148;
  }
  37.509% {
    scale: 1.14 1.14;
  }
  38.447% {
    scale: 1.132 1.132;
  }
  39.385% {
    scale: 1.127 1.127;
  }
  40.322% {
    scale: 1.124 1.124;
  }
  41.26% {
    scale: 1.124 1.124;
  }
  42.198% {
    scale: 1.126 1.126;
  }
  43.136% {
    scale: 1.127 1.127;
  }
  44.073% {
    scale: 1.126 1.126;
  }
  45.011% {
    scale: 1.125 1.125;
  }
  45.949% {
    scale: 1.122 1.122;
  }
  46.887% {
    scale: 1.119 1.119;
  }
  47.824% {
    scale: 1.116 1.116;
  }
  48.762% {
    scale: 1.114 1.114;
  }
  49.7% {
    scale: 1.113 1.113;
  }
  50.637% {
    scale: 1.114 1.114;
  }
  51.575% {
    scale: 1.116 1.116;
  }
  52.513% {
    scale: 1.119 1.119;
  }
  53.451% {
    scale: 1.124 1.124;
  }
  54.388% {
    scale: 1.13 1.13;
  }
  55.326% {
    scale: 1.137 1.137;
  }
  56.264% {
    scale: 1.144 1.144;
  }
  57.202% {
    scale: 1.151 1.151;
  }
  58.139% {
    scale: 1.157 1.157;
  }
  59.077% {
    scale: 1.161 1.161;
  }
  60.015% {
    scale: 1.164 1.164;
  }
  60.952% {
    scale: 1.166 1.166;
  }
  61.89% {
    scale: 1.171 1.171;
  }
  62.828% {
    scale: 1.178 1.178;
  }
  63.766% {
    scale: 1.187 1.187;
  }
  64.703% {
    scale: 1.199 1.199;
  }
  65.641% {
    scale: 1.212 1.212;
  }
  66.579% {
    scale: 1.224 1.224;
  }
  67.517% {
    scale: 1.233 1.233;
  }
  68.454% {
    scale: 1.24 1.24;
  }
  69.392% {
    scale: 1.245 1.245;
  }
  70.33% {
    scale: 1.246 1.246;
  }
  71.267% {
    scale: 1.245 1.245;
  }
  72.205% {
    scale: 1.241 1.241;
  }
  73.143% {
    scale: 1.234 1.234;
  }
  74.081% {
    scale: 1.225 1.225;
  }
  75.018% {
    scale: 1.215 1.215;
  }
  75.956% {
    scale: 1.205 1.205;
  }
  76.894% {
    scale: 1.198 1.198;
  }
  77.832% {
    scale: 1.194 1.194;
  }
  78.769% {
    scale: 1.192 1.192;
  }
  79.707% {
    scale: 1.193 1.193;
  }
  80.645% {
    scale: 1.192 1.192;
  }
  81.583% {
    scale: 1.19 1.19;
  }
  82.52% {
    scale: 1.187 1.187;
  }
  83.458% {
    scale: 1.182 1.182;
  }
  84.396% {
    scale: 1.177 1.177;
  }
  85.333% {
    scale: 1.173 1.173;
  }
  86.271% {
    scale: 1.169 1.169;
  }
  87.209% {
    scale: 1.167 1.167;
  }
  88.147% {
    scale: 1.166 1.166;
  }
  89.084% {
    scale: 1.166 1.166;
  }
  90.022% {
    scale: 1.168 1.168;
  }
  90.96% {
    scale: 1.171 1.171;
  }
  91.898% {
    scale: 1.175 1.175;
  }
  92.835% {
    scale: 1.181 1.181;
  }
  93.773% {
    scale: 1.186 1.186;
  }
  94.711% {
    scale: 1.192 1.192;
  }
  95.648% {
    scale: 1.196 1.196;
  }
  96.586% {
    scale: 1.199 1.199;
  }
  97.524% {
    scale: 1.2 1.2;
  }
  100% {
    scale: 1.2 1.2;
  }
}

@keyframes agents-hero-icon-nine-opacity {
  0% {
    opacity: 1;
  }
  26.256% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  35.634% {
    animation-timing-function: ease-in-out;
    opacity: 0.76;
  }
  45.011% {
    opacity: 1;
  }
  63.766% {
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  73.143% {
    animation-timing-function: ease-in-out;
    opacity: 0.76;
  }
  82.52% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes agents-hero-icon-nine-scale {
  0% {
    scale: 1 1;
  }
  0.926% {
    scale: 1.003 1.003;
  }
  1.852% {
    scale: 1.007 1.007;
  }
  2.778% {
    scale: 1.01 1.01;
  }
  3.704% {
    scale: 1.013 1.013;
  }
  4.63% {
    scale: 1.016 1.016;
  }
  5.556% {
    scale: 1.02 1.02;
  }
  6.481% {
    scale: 1.023 1.023;
  }
  7.407% {
    scale: 1.026 1.026;
  }
  8.333% {
    scale: 1.029 1.029;
  }
  9.259% {
    scale: 1.032 1.032;
  }
  10.185% {
    scale: 1.035 1.035;
  }
  11.111% {
    scale: 1.038 1.038;
  }
  12.037% {
    scale: 1.041 1.041;
  }
  12.963% {
    scale: 1.044 1.044;
  }
  13.889% {
    scale: 1.047 1.047;
  }
  14.815% {
    scale: 1.05 1.05;
  }
  15.741% {
    scale: 1.053 1.053;
  }
  16.667% {
    scale: 1.056 1.056;
  }
  17.593% {
    scale: 1.059 1.059;
  }
  18.519% {
    scale: 1.062 1.062;
  }
  19.444% {
    scale: 1.065 1.065;
  }
  20.37% {
    scale: 1.067 1.067;
  }
  21.296% {
    scale: 1.07 1.07;
  }
  22.222% {
    scale: 1.073 1.073;
  }
  23.148% {
    scale: 1.076 1.076;
  }
  24.074% {
    scale: 1.078 1.078;
  }
  25% {
    scale: 1.081 1.081;
  }
  25.926% {
    scale: 1.084 1.084;
  }
  26.852% {
    scale: 1.088 1.088;
  }
  27.778% {
    scale: 1.094 1.094;
  }
  28.704% {
    scale: 1.104 1.104;
  }
  29.63% {
    scale: 1.116 1.116;
  }
  30.556% {
    scale: 1.13 1.13;
  }
  31.481% {
    scale: 1.143 1.143;
  }
  32.407% {
    scale: 1.156 1.156;
  }
  33.333% {
    scale: 1.165 1.165;
  }
  34.259% {
    scale: 1.172 1.172;
  }
  35.185% {
    scale: 1.176 1.176;
  }
  36.111% {
    scale: 1.177 1.177;
  }
  37.037% {
    scale: 1.176 1.176;
  }
  37.963% {
    scale: 1.171 1.171;
  }
  38.889% {
    scale: 1.164 1.164;
  }
  39.815% {
    scale: 1.155 1.155;
  }
  40.741% {
    scale: 1.146 1.146;
  }
  41.667% {
    scale: 1.139 1.139;
  }
  42.593% {
    scale: 1.134 1.134;
  }
  43.519% {
    scale: 1.132 1.132;
  }
  44.444% {
    scale: 1.133 1.133;
  }
  45.37% {
    scale: 1.134 1.134;
  }
  46.296% {
    scale: 1.134 1.134;
  }
  47.222% {
    scale: 1.133 1.133;
  }
  48.148% {
    scale: 1.13 1.13;
  }
  49.074% {
    scale: 1.126 1.126;
  }
  50% {
    scale: 1.122 1.122;
  }
  50.926% {
    scale: 1.119 1.119;
  }
  51.852% {
    scale: 1.118 1.118;
  }
  52.778% {
    scale: 1.117 1.117;
  }
  53.704% {
    scale: 1.119 1.119;
  }
  54.63% {
    scale: 1.121 1.121;
  }
  55.556% {
    scale: 1.125 1.125;
  }
  56.481% {
    scale: 1.131 1.131;
  }
  57.407% {
    scale: 1.137 1.137;
  }
  58.333% {
    scale: 1.145 1.145;
  }
  59.259% {
    scale: 1.153 1.153;
  }
  60.185% {
    scale: 1.159 1.159;
  }
  61.111% {
    scale: 1.165 1.165;
  }
  62.037% {
    scale: 1.169 1.169;
  }
  62.963% {
    scale: 1.171 1.171;
  }
  63.889% {
    scale: 1.174 1.174;
  }
  64.815% {
    scale: 1.18 1.18;
  }
  65.741% {
    scale: 1.189 1.189;
  }
  66.667% {
    scale: 1.201 1.201;
  }
  67.593% {
    scale: 1.214 1.214;
  }
  68.519% {
    scale: 1.227 1.227;
  }
  69.444% {
    scale: 1.239 1.239;
  }
  70.37% {
    scale: 1.248 1.248;
  }
  71.296% {
    scale: 1.254 1.254;
  }
  72.222% {
    scale: 1.256 1.256;
  }
  73.148% {
    scale: 1.256 1.256;
  }
  74.074% {
    scale: 1.253 1.253;
  }
  75% {
    scale: 1.247 1.247;
  }
  75.926% {
    scale: 1.237 1.237;
  }
  76.852% {
    scale: 1.226 1.226;
  }
  77.778% {
    scale: 1.215 1.215;
  }
  78.704% {
    scale: 1.206 1.206;
  }
  79.63% {
    scale: 1.199 1.199;
  }
  80.556% {
    scale: 1.196 1.196;
  }
  81.481% {
    scale: 1.195 1.195;
  }
  82.407% {
    scale: 1.195 1.195;
  }
  83.333% {
    scale: 1.194 1.194;
  }
  84.259% {
    scale: 1.19 1.19;
  }
  85.185% {
    scale: 1.186 1.186;
  }
  86.111% {
    scale: 1.18 1.18;
  }
  87.037% {
    scale: 1.175 1.175;
  }
  87.963% {
    scale: 1.17 1.17;
  }
  88.889% {
    scale: 1.166 1.166;
  }
  89.815% {
    scale: 1.164 1.164;
  }
  90.741% {
    scale: 1.164 1.164;
  }
  91.667% {
    scale: 1.165 1.165;
  }
  92.593% {
    scale: 1.167 1.167;
  }
  93.519% {
    scale: 1.171 1.171;
  }
  94.444% {
    scale: 1.176 1.176;
  }
  95.37% {
    scale: 1.182 1.182;
  }
  96.296% {
    scale: 1.188 1.188;
  }
  97.222% {
    scale: 1.193 1.193;
  }
  98.148% {
    scale: 1.197 1.197;
  }
  99.074% {
    scale: 1.199 1.199;
  }
  100% {
    scale: 1.2 1.2;
  }
}

@media (prefers-reduced-motion: reduce) {
  .agents_hero__ring {
    animation: none;
  }
}
