@use '@/shared/lib/styles/mixin.scss' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 997;
  background: #fff;
  border-bottom: 1px solid rgba(80, 85, 107, 0.05);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;

  &__logo {
    @include tablet {
      width: auto;
      height: 32px;
    }
  }

  &.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  &__container {
    padding: 16px 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include mobile {
      padding: 16px;
    }
  }

  &__navigation {
    flex-shrink: 0;
    padding: 4px;
    border-radius: 48px;
    background: #f6f6f6;
    display: flex;
    align-items: center;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include tablet {
      display: none;
    }

    li {
      flex-shrink: 0;
      padding: 12px 24px;
      border-radius: 48px;

      &.active {
        background: #eaeaeb;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    @include mobile {
      display: none;
    }
  }

  &__call {
    display: flex;
    padding: 10px 16px 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: transparent;
    border: 1px solid #4268ff;
    color: #4268ff;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
    @media (max-width: 1280px) {
      font-size: 0;
      padding: 16px;
      span {
        display: none;
      }
    }
    @include mobile {
      display: none;
    }
  }

  &__bookMeeting {
    display: flex;
    padding: 10px 16px 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: #4268ff;
    border: 1px solid #4268ff;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
    @include mobile {
      display: none;
    }
  }
}
