@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 165px 165px;
  background: #ffffff;

  @include mobile {
    padding: 64px 12px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  .chipContainer {
    display: flex;
    align-items: center;
    gap: 24px;

    @include tablet {
      svg {
        display: none;
        visibility: hidden;
      }
    }

    .chip {
      span {
        font-size: 30px;
        font-weight: 500;
        padding: 12px 24px;
        border-radius: 24px;
        text-align: center;
        @include mobileSmall {
          font-size: 16px;
          padding: 8px 16px;
        }
      }
    }

    .arrowRight {
      display: flex;
      align-items: center;
      width: 128px;
      height: 17px;
      position: relative;
      @include tablet {
        display: none;
      }
      @include desktop-1300 {
        width: 250px;
      }
      span {
        position: relative;
        &:first-child {
          width: 100%;
          height: 4px;
          display: block;
          background: linear-gradient(to right, #4268ff00 0%, #4268ff 100%);
        }
        &:last-child {
          width: 17px;
          height: 17px;
          position: absolute;
          right: 0;
          top: 0;
          background: #4268ff;
          border-radius: 100px;
        }
      }
    }

    .arrowLeft {
      display: flex;
      align-items: center;
      width: 128px;
      height: 17px;
      position: relative;
      transform: scaleX(-1);
      @include tablet {
        display: none;
      }
      @include desktop-1300 {
        width: 250px;
      }
      span {
        position: relative;
        &:first-child {
          width: 100%;
          height: 4px;
          display: block;
          background: linear-gradient(to right, #4268ff00 0%, #4268ff 100%);
        }
        &:last-child {
          width: 17px;
          height: 17px;
          position: absolute;
          left: 0;
          top: 0;
          background: #4268ff;
          border-radius: 100px;
        }
      }
    }
  }

  .desc {
    color: #535662;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    width: 800px;

    @include tablet {
      width: 100%;
    }

    @include mobileSmall {
      font-size: 16px;
    }
  }

  .subtitle {
    color: #0c1021;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 32px;

    display: none;

    @include mobileSmall {
      font-size: 24px;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    h2 {
      color: #0c1021;
      text-align: center;
      font-size: 64px;
      font-weight: 400;
      line-height: 120%;

      @include fourteenInch {
        font-size: 64px;
      }

      @include tablet {
        width: 100%;
      }

      @include mobile {
        font-size: 48px;
        line-height: 57.6px;
      }

      @include mobileSmall {
        font-size: 32px;
        line-height: 120%;
      }
    }
  }
}

.image {
  width: 100%;
  img {
    width: 100%;
    max-width: 1590px;
    margin: 0 auto;
    height: 500px;
    object-fit: cover;
    object-position: top right;
    border-radius: 24px;
    @include tablet {
      height: 300px;
    }
    &.desktop {
      display: block;
      @include tablet {
        display: none;
      }
    }
    &.mobile {
      display: none;
      @include tablet {
        display: block;
      }
    }
  }
}

.cards {
  display: none;
  flex-wrap: wrap;
  gap: 48px;

  @include tablet {
    flex-direction: column;
    gap: 16px;
  }

  > div {
    width: calc(50% - 24px);
    @include largeDesktop {
      width: calc(25% - 36px);
    }
  }
}

.voicesList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  flex-wrap: wrap;
  height: 518px;
  @include tablet {
    height: auto;
  }
  
  &.images {
    flex-direction: row;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #fafafa 100%);
      backdrop-filter: blur(5px);
      z-index: 1;
    }
    a {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
      button {
        white-space: nowrap;
      }
    }
    > div {
      @include tablet {
        display: none;
        &:first-child {
          display: block;
        }
      }
    }
  }

  >div{
    height: 164px;
    >div{
     >p{
      display: none;
     } 
    }
  }

}
