@use '@/shared/lib/styles/mixin.scss' as *;

.ready_to_hear {
  padding-block: 80px;

  @include tablet {
    padding-block: 40px;
  }

  &__inner {
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    padding: 60px 60px 0 60px;
    background: linear-gradient(0deg, rgba(66, 104, 255, 0.6) 0%, rgba(66, 104, 255, 0.6) 100%);

    @include tablet {
      padding: 60px 20px 120px 20px;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__title {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;

    @include tablet {
      font-size: 40px;
      line-height: 1.2;
    }
  }

  &__subtitle {
    color: #FFF;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;

    @include tablet {
      font-size: 20px;
    }
  }

  &__cta {
    display: inline-block;
  }
}
