@use '@/shared/lib/styles/mixin.scss' as *;

.whatsappFixedLink {
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile {
    bottom: 40px;
    left: 40px;
  }
  svg {
    width: 56px;
    height: 56px;
    transition: transform 0.2s ease;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.1));
    &:hover {
      transform: scale(1.1);
    }
  }
}

.footer {
  position: relative;
  padding-bottom: 24px;
  overflow: hidden;
  background: linear-gradient(180deg, #fff 29.63%, #819aff 100%);

  &__container {
    margin: 24px 24px 0 24px;
    padding: 165px 165px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    border-radius: 64px;
    background: #fff;

    @include mobile {
      margin: 16px 16px 0 16px;
      padding: 32px;
      gap: 32px;
    }
  }

  &__socials {
    display: flex;
    gap: 12px;
    margin-top: 32px;
    a {
      display: flex;
      width: 42px;
      height: 42px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 16px;
      background: #f6f6f6;
      &:hover {
        background: #e3e9ff;
        svg {
          path {
            fill: #4268ff;
          }
        }
      }
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    @include tablet {
      flex-direction: column;
    }
    p {
      color: #535662;
      text-align: left;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @include tablet {
        text-align: center;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      gap: 100px;
    }
  }

  &__links {
    display: flex;
    gap: 128px;

    @include mobile {
      flex-direction: column;
      gap: 64px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h4 {
      color: #0c1021;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    li {
      color: #535662;
      font-family: Urbanist;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      a {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
      color: #0c1021;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.divider {
  background: rgba(12, 16, 33, 0.15);
  width: 100%;
  height: 1px;
}
