@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  display: flex;
  padding: 80px 165px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  @include mobile {
    padding: 80px 16px;
    flex-direction: column;
    gap: 32px;
  }
}

.title {
  text-align: center;
  margin-bottom: 24px;
  width: 40%;
  @include mobile {
    width: 100%;
  }
  h1 {
    color: #0c1021;
    text-align: center;
    font-family: Urbanist;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    span {
      display: block;
      color: #4268ff;
    }
    @include mobile {
      font-size: 48px;
    }
  }
}

.calendar {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 60%;
  @include mobile {
    width: 100%;
  }
}

.meetingsEmbed {
  width: 100%;
}
