@use '@/shared/lib/styles/mixin.scss' as *;

.hero {
  width: 100%;
  display: flex;
  padding: 165px 165px 165px 165px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

 

  @include tablet {
    flex-direction: column;
    padding: 64px 16px 64px 16px;
  }


  &__subtitle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #4268ff;
    text-align: center;
    font-size: 52px;
    font-weight: 400;
    line-height: normal;
    width: 60%;

    @include desktop {
      font-size: 42px;
      width: 60%;
    }

    @include tablet {
      font-size: 32px;
    }
    @include mobileSmall {
      font-size: 32px;
    }
  }

  &__video {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    @include tablet {
      width: 100%;
    }
    video {
      width: 115%;
      height: 115%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;

    @include tablet {
      width: 100%;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      color: #0c1021;
      font-size: 64px;
      font-weight: 400;
      line-height: 120%;
      margin-bottom: 32px;
      text-align: center;

      @include fourteenInch {
        font-size: 64px;
      }

      @include mobile {
        font-size: 42px;
      }
      @include mobileSmall {
        font-size: 24px;
      }
    }

    .highlighted {
      color: #4268ff;
    }

    p {
      color: #535662;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @include mobileSmall {
        font-size: 16px;
      }
    }
  }
}
