.layout {
  width: 100%;
  position: relative;
}

.textArea {
  width: 100%;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid rgba(12, 16, 33, 0.1);
  background: #fafafa;
  color: #0c1021;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  transition: all 300ms ease-in-out;
  height: 150px;
  resize: none;
  &::placeholder {
    color: rgba(12, 16, 33, 0.4);
  }
  &:focus {
    outline: none;
  }

  &:disabled {
    color: #000000;
  }
}

.hint {
  position: absolute;
  bottom: -18px;
  left: 2px;
  line-height: 20px;
  color: #ff3f42;
}

.danger {
  border: 1px solid #ff2643;
}
