@use '@/shared/lib/styles/mixin.scss' as *;

.insurance_cases {
  padding-block: 50px;

  @include tablet {
    padding-block: 32px;
  }

  &__row {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 0 0 0 #FFF inset, 0 0 0 0.5px rgba(0, 0, 0, 0.30) inset;
    display: flex;
    gap: 51px;
    min-height: 389px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

    @include desktop {
      &:before,
      &:after {
        content: '';
        width: 128px;
        height: 95%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
      }

      &:before {
        left: 211px;
      }

      &:after {
        right: 211px;
      }
    }

    @include tablet {
      flex-direction: column;
      padding-block: 40px;
      gap: 0;
      min-height: 450px;
    }
  }

  &__wave_left,
  &__wave_right {
    @include desktop {
      max-width: 337px;
      width: 100%;
    }

    svg {
      width: 100%;
    }
  }

  &__wave_left {
    @include tablet {
      display: none;
    }
  }

  &__center {
    text-align: center;
    flex-shrink: 0;

    @include tablet {
      padding-inline: 20px;
    }
  }

  &__title {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 18px;

    @include tablet {
      font-size: 32px;
    }
  }

  &__desc {
    font-size: 20px;
    line-height: 1.4;
    max-width: 500px;
    margin: 0 auto 32px auto;

    @include tablet {
      font-size: 16px;
    }
  }

  &__play {
    @include desktop {
      margin-inline: auto;
    }

    &_desktop {
      @include tablet {
        display: none;
      }
    }

    &_mobile {
      @include desktop {
        display: none;
      }
    }
  }

  &__play_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }
}

.trading-platforms-brokers {
  .insurance_cases__wave_right {
    @include tablet {
      position: absolute;
      top: 50%;
      left: -42%;
      z-index: -1;
    }
  }
}
