@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  display: flex;
  padding: 64px 165px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  @include mobile {
    padding: 32px 16px;
    flex-direction: column;
    gap: 32px;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    h2 {
      color: #0c1021;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 57.6px */
      @include mobile {
        font-size: 32px;
      }
    }
    p {
      color: #535662;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    flex-wrap: wrap;

    .item {
      width: calc(33.33% - 16px);
      display: flex;
      padding: 32px;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      align-self: stretch;
      border-radius: 48px;
      border: 1px solid rgba(12, 16, 33, 0.05);
      background: #fff;
      @include mobile {
        width: 100%;
      }
      &:last-child {
        width: 100%;
        img {
          @include mobile {
            width: 100%;
            height: auto;
          }
        }
      }
      h3 {
        color: #0c1021;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
      }
    }
  }
}
