@use '@/shared/lib/styles/mixin.scss' as *;

.breadcrumbs_wrapper {
  padding-top: 96px;

  &.calendar {
    padding-top: 20px;
  }
}

.breadcrumbs {
  position: relative;
  z-index: 1;
  margin-bottom: 32px;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  max-width: 100%;
  min-width: fit-content;
}

.link {
  color: rgba(12, 16, 33, 0.65);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  padding: 12px;


  &:hover {
    color: #0C1021;
  }
  @include mobile {
    white-space: wrap;
  }
}

.current {
  color: #0C1021;
  padding: 12px;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
}
