@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  padding: 165px;
  display: flex;
  padding: 165px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  position: relative;
  @include mobile {
    padding: 32px 16px;
    flex-direction: column;
    gap: 32px;
  }
  > video {
    position: absolute;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    opacity: 0.5;
  }
  .col1 {
    position: relative;
    z-index: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    @include mobile {
      width: 100%;
    }
    h1 {
      color: #0c1021;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      span {
        display: block;
        color: #4268ff;
      }
      @include mobile {
        font-size: 32px;
      }
    }
    p {
      color: #50556b;
      font-family: Urbanist;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @include mobile {
        br {
          display: none;
        }
      }
    }
  }
  .col2 {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 50%;
    border-radius: 48px;
    border: 1px solid rgba(12, 16, 33, 0.1);
    background: #fff;
    @include mobile {
      width: 100%;
      padding: 24px;
    }
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      h3 {
        color: #0c1021;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include mobile {
          font-size: 24px;
        }
      }
    }
  }
}
