@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 100vh;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    padding: 64px 12px 64px 12px;
    margin-top: 0;
  }

  > video {
    position: absolute;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    opacity: 0.5;
  }
}

.top {
  width: 100%;
  padding: 24px 124px 24px 124px;
  @include mobile {
    padding: 16px;
  }
  img {
    width: 330px;
    height: auto;
    @include mobile {
      width: 212px;
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 0;
  border-top: 1px solid rgba(12, 16, 33, 0.15);
  background: #fff;
  p {
    color: #535662;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 100px 16px;
  .desc {
    color: #535662;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    width: 800px;
    margin-top: 0;

    @include tablet {
      width: 100%;
      font-size: 20px;
      br {
        display: none;
      }
    }
    @include mobileSmall {
      font-size: 16px;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    h2 {
      color: #0c1021;
      text-align: center;
      font-size: 64px;
      font-weight: 400;
      line-height: 120%;

      @include fourteenInch {
        font-size: 64px;
      }

      @include tablet {
        font-size: 42px;
        width: 100%;
      }

      @include mobile {
        font-size: 42px;
        line-height: 120%;
      }
      @include mobileSmall {
        font-size: 32px;
      }
    }
  }
}
