@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  display: flex;
  padding: 64px 165px;
  flex-direction: column;
  align-items: center;
  gap: 124px;
  align-self: stretch;

  @include mobile {
    padding: 32px 16px;
    gap: 32px;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 64px;
  width: 100%;

  @include mobile {
    flex-direction: column;
    gap: 0;
  }
}

.rowReverse {
  flex-direction: row-reverse;

  @include mobile {
    flex-direction: column;
  }
}

.card {
  flex: 0 0 calc(50% - 32px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  overflow: clip;

  @include mobile {
    width: 100%;
  }

  h3 {
    color: #0c1021;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;

    @include mobile {
      font-size: 24px;
    }
  }
}

.description,
.footer {
  color: #535662;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;

  @include mobile {
    font-size: 16px;
  }

  p {
    margin: 0;
  }

  p + p {
    margin-top: 16px;
  }
}

.listBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listTitle {
  color: #0c1021;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;

  @include mobile {
    font-size: 16px;
  }
}

.bullets {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: #535662;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      font-size: 16px;
    }
  }
}

.dot {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  margin-top: 7px;
  border-radius: 50%;
  background: #4268ff;
}

.visualWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex: 0 0 calc(50% - 32px);
  padding: 64px 0;
  border-radius: 24px;
  background: #fafafa;
  overflow: clip;

  @include mobile {
    order: -1;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    margin-bottom: 0;
  }

  img{
    width: 70%;
    height: auto;
  }
}

.visualFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  
}

.visual {
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.05));
  width: 80%;
  height: auto;
  display: block;
}
