@use '@/shared/lib/styles/mixin.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .label {
    color: #0c1021;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  border-radius: 48px;
  border: 1px solid rgba(12, 16, 33, 0.1);
  background: #fff;
  padding: 32px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formRow {
  display: flex;
  gap: 24px;
  .inputWrapper {
    width: 50%;

    @include mobile {
      width: 100%;
    }
    &.error {
      input,
      > div {
        border-color: #ff0000 !important;
      }
    }
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  :global(.g-recaptcha) {
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }

  &.error {
    :global(.g-recaptcha) {
      border: 1px solid #ff0000;
      border-radius: 4px;
      padding: 4px;
    }
  }
}