@use '@/shared/lib/styles/mixin.scss' as *;

.solutions_use_cases {
  margin-bottom: 80px;
  overflow: hidden;

  @include tablet {
    margin-bottom: 40px;
  }

  @include mobile {
    &__container {
      padding-right: 0;
    }
  }

  &__title {
    color: #0c1021;
    text-align: center;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 40px;

    @include tablet {
      font-size: 32px;
      margin-bottom: 32px;
    }
  }

  &__grid {
    @include mobile-up {
      display: grid;
      gap: 8px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }


    @include mobile {
      display: flex;
      gap: 8px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      overscroll-behavior-x: contain;
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;
      margin-bottom: 24px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 32px 25px 32px 32px;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.20);

    @include desktop {
      &:first-child {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 2.09211fr 1fr;
        grid-template-rows: auto auto 1fr;
        gap: 6px 40px;
        padding: 32px;
      }
    }

    @include mobile {
      flex: 0 0 320px;
      scroll-snap-align: center;
    }
  }

  @include desktop {
    &__card:first-child &__card_media {
      grid-row: 1 / -1;
      width: 100%;
      height: 100%;
      aspect-ratio: 795 / 336;
      margin-bottom: 0;
      border-radius: 8px;
      overflow: hidden;
    }

    &__card:first-child &__card_text {
      margin-bottom: 0;
    }

    &__card:first-child &__cta {
      margin-top: auto;
    }
  }

  &__cta {
    margin-top: auto;
  }

  &__nav {
    display: none;

    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      padding-right: 16px;
    }
  }

  &__nav_prev,
  &__nav_next {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    max-width: 163px;
    width: 100%;
    border-radius: 999px;
    border: 0.5px solid rgba(0, 0, 0, 0.20);
    background: #fff;

    &:disabled {
      background: transparent;
      border-color: transparent;
    }
  }

  &__card_media {
    width: 150px;
    aspect-ratio: 150 / 63;
    position: relative;
    border-radius: 4px;
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 24px;
    }
  }

  &__card_title {
    color: #0c1021;
    font-size: 24px;
    line-height: 1.2084;
    margin-bottom: 6px;
  }

  &__card_text {
    color: #50556B;
    font-size: 16px;
    line-height: 1.375;
    margin-bottom: 59px;

    @include tablet {
      margin-bottom: 24px;
    }
  }
}
