@use '@/shared/lib/styles/mixin.scss' as *;

.layout {
  display: flex;
  padding: 64px 165px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;

  @include mobile {
    padding: 32px 16px;
    gap: 32px;
  }

  h2 {
    color: #0c1021;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @include mobile {
      font-size: 28px;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: 124px;
  width: 100%;
  ////max-width: 1110px;

  @include mobile {
    gap: 48px;
  }
}

.featureRow {
  display: flex;
  gap: 64px;
  align-items: center;

  @include mobile {
    flex-direction: column;
    gap: 24px;
  }

  &.reversed {
    flex-direction: row-reverse;

    @include mobile {
      flex-direction: column;
    }
  }
}

.card {
  flex: 0 0 calc(50% - 32px);
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mobile {
    flex: 1;
    width: 100%;
  }

  h3 {
    color: #0c1021;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @include mobile {
      font-size: 24px;
    }
  }

  p {
    color: #535662;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      font-size: 16px;
    }
  }
}

.bullets {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: #535662;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    @include mobile {
      font-size: 16px;
    }
  }
}

.dot {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4268ff;
  margin-top: 7px;
}

.cta {
  width: 100%;
}

.illustration {
  flex: 0 0 calc(50% - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 48px;
  background: #fafafa;
  @include mobile {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 3.677px 18.386px 0 rgba(12, 16, 33, 0.1));
  }
}

.illustrationPlaceholder {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 48px;
  background: #fafafa;
  border: 1px solid rgba(12, 16, 33, 0.05);
}

.button {
  display: flex;
  justify-content: center;
}
