@use '@/shared/lib/styles/mixin.scss' as *;

.pricing_setup_free {
    padding-block: 60px;

    @include tablet {
        padding-block: 40px;
    }

    &__title {
        color: #0C1021;
        text-align: center;
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 40px;

        @include tablet {
            font-size: 32px;
        }
    }

    &__row {
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0 0 0 0 #FFF inset, 0 0 0 0.5px rgba(0, 0, 0, 0.30) inset;
        padding: 20px;
        display: grid;
        gap: 20px;
        grid-template-columns: 1.5fr 1fr;

        @include tablet {
            grid-template-columns: 1fr;
            padding: 10px;
        }
    }

    &__left_title {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;

        @include tablet {
            font-size: 32px;
        }
    }

    &__list_title {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        line-height: 140%;
        margin-bottom: 16px;
    }

    &__list {
        display: grid;
        gap: 16px;

        @include desktop {
            grid-template-columns: 1fr 1fr;
            margin-bottom: 32px;

            &>*:first-child {
                grid-column: 1 / -1;
            }
        }

        @include tablet {
            margin-bottom: 8px;
        }
    }

    &__list_item {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &__list_item_icon {
        flex: 0 0 48px;
        height: 48px;
        border-radius: 4px;
        background: #F6F6F6;
        padding: 12px;
    }

    &__list_item_description {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
    }

    &__right {
        position: relative;
        border-radius: 4px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;
        padding: 20px;

        @include tablet {
            padding: 20px;
        }

        img {
            object-fit: cover;
            border-radius: inherit;
            z-index: -1;
        }
    }

    &__right_title {
        color: #FFF;
        font-size: 24px;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 10px;

        @include tablet {
            font-size: 18px;
            line-height: 140%;
        }

        span {
            font-size: 60px;
            display: block;
            line-height: 110%;

            @include tablet {
                font-size: 40px;
                line-height: 120%;
            }
        }
    }

    &__right_description {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;

        @include mobile {
            font-size: 14px;
        }
    }

    &__right_second_description_wrapper {
        padding: 4px 8px;
        border-radius: 4px;
        background: rgba(227, 233, 255, 0.50);
    }

    &__right_second_description {
        color: #4268FF;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;

        @include mobile {
            font-size: 14px;
        }

        @include desktop {
            strong {
                display: block;
            }
        }

        @include tablet {
            &>strong:first-child {
                display: block;
            }
        }
    }
}